[submodule "project/project/src/main/org/texastorque/torquelib"]
	path = project/project/src/main/org/texastorque/torquelib
	url = https://github.com/texastorque/torquelib
[submodule "project/src/main/org/texastorque/torquelib"]
	path = project/src/main/org/texastorque/torquelib
	url = https://github.com/texastorque/torquelib
[submodule "project/src/main/java/org/texastorque/torquelib"]
	path = project/src/main/java/org/texastorque/torquelib
	url = https://github.com/texastorque/torquelib
[submodule "project/src/main/java/org/texastorque/util"]
	path = project/src/main/java/org/texastorque/util
	url = https://github.com/texastorque/torqueutil
